.wrapper {
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 4);

    @media (max-width: 48em) {
        padding-top: calc(var(--mantine-spacing-xl) * 2);
        padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    }
}

.title {
    font-family: Blenda, "Roboto", sans-serif;
    font-weight: 300;
    font-size: rem(50px);
    margin-bottom: var(--mantine-spacing-md);
    text-align: center;

    @media (max-width: 48em) {
        font-size: rem(38px);
    }
}


.cardTitle {
    font-family: Blenda, "Roboto", sans-serif;
    font-weight: 300;
    font-size: rem(32px);

    @media (max-width: 48em) {
        font-size: rem(26px);
    }
}

.cardPrice {
    font-family: BebasRegular, "Roboto", sans-serif;
    font-weight: 500;
    font-size: rem(40px);

    @media (max-width: 48em) {
        font-size: rem(32px);
    }
}


.cardDescription {
    font-family: Turis, "Roboto", sans-serif;
    font-weight: bold;
    font-size: rem(16px);
    margin-right: 30px;
    margin-left: 30px;

    @media (max-width: 48em) {
        font-size: rem(16px);
    }
}

.card {
    border: #989898 double 3px;
    height: rem(375px);
    width: rem(300px);
    box-shadow: #191919 5px 5px;


    @media (max-width:32em) {
        height: fit-content;
        width: rem(225px);
    }

}

.simpleGrid {
    margin-top: 60px;

    @media (max-width: 48em) {
        margin-top: 30px;
    }
}

.div {
    min-height: rem(700px);
}


.img {
    height: fit-content;
}

