.backToTop {
    z-index: 1000;
    background-color: #97856C; /* Customize the color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, bottom 0.3s ease;
}

.backToTop:hover {
    background-color: #6e593f; /* Slightly darker color on hover */
}
