.card {
    height: rem(620px);
    background-size: cover;
    background-position: center;
    border-radius: 0;

    @media (max-width: 48em) {
        height: rem(540px);
    }
}

.div {
    min-height: 700px;
    @media (max-width: 48em) {
        min-height: 500px;
    }
    padding: 80px 0 80px 0;
}

